<a href="https://colab.research.google.com/github/mborkhat/Data-Science-Projects/blob/master/JanataHack/Jantahack_Agriculture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
train=pd.read_csv("/content/train.csv")
test=pd.read_csv("/content/test.csv")
submission=pd.DataFrame()
submission['ID']=test['ID']

In [4]:
train.isna().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

In [5]:
test.isna().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          5893
Number_Weeks_Quit             0
Season                        0
dtype: int64

In [6]:
train.head()

          ID  Estimated_Insects_Count  ...  Season  Crop_Damage
0  F00000001                      188  ...       1            0
1  F00000003                      209  ...       2            1
2  F00000004                      257  ...       2            1
3  F00000005                      257  ...       2            1
4  F00000006                      342  ...       2            1

[5 rows x 10 columns]

In [7]:
train.shape, test.shape

((88858, 10), (59310, 9))

In [8]:
train['Number_Weeks_Used'].fillna(train['Number_Weeks_Used'].max(),inplace=True)
test['Number_Weeks_Used'].fillna(test['Number_Weeks_Used'].max(),inplace=True)

In [9]:
train.head(20)

           ID  Estimated_Insects_Count  ...  Season  Crop_Damage
0   F00000001                      188  ...       1            0
1   F00000003                      209  ...       2            1
2   F00000004                      257  ...       2            1
3   F00000005                      257  ...       2            1
4   F00000006                      342  ...       2            1
5   F00000008                      448  ...       2            1
6   F00000009                      448  ...       2            1
7   F00000010                      577  ...       1            2
8   F00000012                      731  ...       2            0
9   F00000020                     1132  ...       1            2
10  F00000021                     1212  ...       3            0
11  F00000023                     1575  ...       1            1
12  F00000024                     1575  ...       2            1
13  F00000028                     1575  ...       2            1
14  F00000029                     1575  ...       2            2
15  F00000030                     1785  ...       2            1
16  F00000035                     2138  ...       1            1
17  F00000037                     2401  ...       1            1
18  F00000038                     2401  ...       2            1
19  F00000039                     2401  ...       2            1

[20 rows x 10 columns]

In [10]:
train=train.drop('ID',axis=1)
test=test.drop('ID',axis=1)

In [11]:
X=train.drop(['Crop_Damage'],axis=1)
y=train['Crop_Damage']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.20, random_state=43)

In [24]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=300)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
y_pred.shape

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

(17772,)

In [14]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.84

In [15]:
X=test.iloc[:,:]
y_pred = logreg.predict(X)
y_pred.shape

(59310,)

In [16]:
submission['Crop_Damage']=y_pred
submission.to_csv('Mayur_Log.csv',index=False,header=True)

In [17]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
y_pred = lda.predict(X_test)
y_pred.shape

(17772,)

In [18]:
y_pred = lda.predict(X_test)
y_pred.shape
print('Accuracy of logistic LDA classifier on test set: {:.2f}'.format(lda.score(X_test, y_test)))

Accuracy of logistic LDA classifier on test set: 0.83

In [19]:
X=test.iloc[:,:]
y_pred = lda.predict(X)
y_pred.shape

(59310,)

In [20]:
submission['Crop_Damage']=y_pred
submission.to_csv('Mayur_LDA.csv',index=False,header=True)

In [21]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(max_depth=2, random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print('Accuracy of RF regression classifier on test set: {:.2f}'.format(classifier.score(X_test, y_test)))

Accuracy of RF regression classifier on test set: 0.84

In [22]:
X=test.iloc[:,:]
y_pred = classifier.predict(X)
y_pred.shape

(59310,)

In [23]:
submission['Crop_Damage']=y_pred
submission.to_csv('Mayur_RF.csv',index=False,header=True)